{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body">
                <h1 class="display-3 text-center">Signup</h1>
                {{error}}
                {% csrf_token %}
                {{form}}
                <button class="btn btn-dark">
                    Signup
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}