{% extends 'base.html' %}

{% block content %}

{{error}}

<main class="container">
    <div class="row">
        <div class="col-md-4 ofset-md-4">
            <h1 class="display-3 text-center">{{task.title}}</h1>
            {{error}}
            <form method="POST" class="card card-body">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-dark">
                    Update
                </button>
            </form>

            <form action="{% url 'complete_task' task.id %}" method="POST" class="card card-body">
                {% csrf_token %}
                <button class="btn btn-success">
                    Mark as completed
                </button>
            </form>
            <form action="{% url 'delete_task' task.id %}" method="POST" class="card card-body">
                {% csrf_token %}
                <button class="btn btn-danger">
                    Delete
                </button>
            </form>
        </div>
    </div>
</main>


{% endblock %}